<table>
	<tr>
		<td><a href="{{site.baseurl}}/">Home</a></td>
		<td><a href="{{site.baseurl}}/schedule">Schedule</a></td>
		<td><a href="{{site.baseurl}}/todos">Todo</a></td>
		<td><a href="{{site.baseurl}}/timer">Timed Tasks</a></td>
		<td><a href="{{site.baseurl}}/timer2">Stopwatch Log</a></td>
		<td><a href="{{site.baseurl}}/notetaker">Notebook</a></td>
		<td><a href="{{site.baseurl}}/calculator">Calculator</a></td>
		<!-- <td><a href="/housing">Housing</a></td> -->
		<!-- <td><a href="/sports">Sports</a></td> -->
		<!-- <td><a href="/activities">Activities</a></td> -->
		<!-- <td><a href="/family-night">Family-Night</a></td> -->
		<!-- <td><a href="{{site.baseurl}}/login">Login</a></td> -->
		<!-- <td><a href="{{site.baseurl}}/signup">Sign Up</a></td> -->
	</tr>
</table>
