<table>
    <tr>
        <td><a href="{{site.baseurl}}/leuck-copy">Home</a></td>
        <!-- <td><a href="/housing">Housing</a></td> -->
        <td><a href="{{site.baseurl}}/leuck-copy/timer">Timed Tasks</a></td>
        <td><a href="{{site.baseurl}}/leuck-copy/notetaker">Notebook</a></td>
        <!-- <td><a href="/sports">Sports</a></td> -->
        <!-- <td><a href="/activities">Activities</a></td> -->
        <!-- <td><a href="/family-night">Family-Night</a></td> -->
        <td><a href="{{site.baseurl}}/leuck-copy/calculator">Calculator</a></td>
        <td><a href="{{site.baseurl}}/leuck-copy/gallery">Gallery</a></td>
    </tr>
</table>
